.main_quotes_container {
  display: flex;
  flex-direction: column;
  border: 2px solid #E85A4F;
  height: 700px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.quote_btn {
  height: 40px;
  width: 60px;
  z-index: 10;
}

.quote_img {
  width: 70%;
  height: 80%;
  position: absolute;
}

.quote_text {
  z-index: 11;
  margin-bottom: 180px;
  margin-left: 400px;
}