.main_quotes_container {
  display: flex;
  flex-direction: column;
  border: 2px solid #E85A4F;
  height: 700px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.quote_btn {
  height: 40px;
  width: 60px;
  z-index: 10;
  position: absolute;
  margin-top: 100px;
}

.quote_img {
  width: 70%;
  height: 80%;
  position: absolute;
}

.quote_text {
  z-index: 11;
  margin-bottom: 210px;
  margin-left: 400px;
  quotes: initial;
}

.quote_text {
  quotes: '"' '"' "'" "'";
}
.quote_text::before {
  content: open-quote;
}
.quote_text::after {
  content: close-quote;
}